/* Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	line-height: 1;
}

/* Styles */

body {
  background-color: #0B61A4;
  color: #fff;
  font-family: Delicious, Helvetica, Arial, sans-serif;
}

a {
  color: #033E6B;
}

p {
  margin-bottom: 1em;
}

input, select, option {
  background: #3F92D2;
  border: 1px solid #66A3D2;
  color: #033E6B;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}

input, select {
  padding: .2em;
}

input:hover, select:hover {
  border-color: #FF9200;
}

input:focus, select:focus {
  border-color: #FFF;
  color: #FFF;
}

input[type=submit] {
  background: #FF9200;
  border-color: #FFAD40;
  color: #A65F00;
  font-weight: bold;
  padding-left: .5em;
  padding-right: .5em;
}

/* Index */

body.index {
  /*background-image: url(/assets/images/blue/squares_bg.gif);*/
  background-position: center center;
}

body.index h1 {
  border-bottom: #033E6B 1px solid;
  font-size: 500%;
  line-height: 1;
  margin-top: -1em;
  padding-left: 1%;
  width: 99%;
}

body.index h1 {
  position: absolute;
  top: 50%;
}

body.index form, body.index #preview-response {
  left: 55%;
  position: absolute;
}

body.index #form-1 {
  top: 30%;
}

body.index #form-1 fieldset {
  top: 30%;
}

body.index #form-2 {
  bottom: 30%;
}

body.index legend {
  font-size: 125%;
  font-weight: bold;
  margin-bottom: 0.5em;
}

body.index #or {
  font-size: 200%;
  margin-left: -1em;
}

body.index #pet-preview {
  background-color: #0B61A4;
  border: 1px solid #033E6B;
  left: 50%;
  margin: -35px 0 0 -50px;
  padding: 10px;
  position: absolute;
  top: 50%;
}

body.index #pet-preview.loading {
  height: 0;
  padding: 35px;
  width: 0;
}

body.index #preview-response {
  left: 52%;
  margin-top: -1.5em;
  padding: .5em 1em;
  top: 50%;
}

body.index input[type=text] {
  width: 15em;
}

body.index select {
  width: 7em;
}

body.index .ui-state-error, body.index .ui-state-highlight {
  left: 1%;
  padding: .5em 1em;
  position: absolute;
  top: 52%;
  width: 30%;
}

body.index .floated-icon {
  float: left;
  margin-right: .3em;
}

/* Wardrobe */

body.wardrobe .toolbar {
  background: #FFF;
  border-color: #033E6B;
  border-style: solid;
  bottom: 0;
  color: #0B61A4;
  position: absolute;
}

body.wardrobe #toolbar-bottom {
  border-width: 1px 0 0 0;
  height: 25%;
  left: 0;
  width: 70%;
  z-index: 2;
}

body.wardrobe #toolbar-right {
  border-width: 0 0 0 1px;
  height: 100%;
  right: 0;
  width: 30%;
  z-index: 3;
}

body.wardrobe h2 {
  font-size: 200%;
  margin: .25em;
}

/* A font by Jos Buivenga (exljbris) -> www.exljbris.nl */
@font-face {
	font-family: Delicious;
	src: url('/assets/fonts/Delicious-Roman.otf');
}

@font-face {
	font-family: Delicious;
	font-weight: bold;
	src: url('/assets/fonts/Delicious-Bold.otf');
}
