/* Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	line-height: 1;
}

/* Styles */

body {
  background-color: #0B61A4;
  font-family: Delicious, Helvetica, Arial, sans-serif;
}

a {
  color: #033E6B;
}

p {
  margin-bottom: 1em;
}

input, select, option {
  background: #3F92D2;
  border: 1px solid #66A3D2;
  color: #FFF;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}

input, select {
  padding: .2em;
}

input:hover, select:hover {
  border-color: #FF9200;
}

input:focus, select:focus {
  border-color: #FFF;
  color: #FFF;
}

input[type=submit] {
  background: #FF9200;
  border-color: #FFAD40;
  color: #A65F00;
  font-weight: bold;
  padding-left: .5em;
  padding-right: .5em;
}

.error, .warning {
  padding: .5em 1em;
}

.error {
  background: #E14F1C;
  border: 1px solid #CD0A0A;
  color: #FFF;
}

.warning {
  background: #F8DA4E;
  border: 1px solid #FCD113;
  color: #915608;
}

/* Index */

body.index {
  background-position: center center;
  color: #fff;
}

body.index h1 {
  border-bottom: #033E6B 1px solid;
  font-size: 500%;
  line-height: 1;
  margin-top: -1em;
  padding-left: 1%;
  width: 99%;
}

body.index h1 {
  position: absolute;
  top: 50%;
}

body.index form, body.index #preview-response {
  left: 60%;
  position: absolute;
}

body.index #form-1 {
  top: 28%;
}

body.index #form-2 {
  bottom: 28%;
}

body.index legend {
  font-size: 125%;
  font-weight: bold;
  margin-bottom: 0.5em;
}

body.index #or {
  font-size: 200%;
  margin-left: -1em;
}

body.index #pet-preview {
  background-color: #0B61A4;
  border: 1px solid #033E6B;
  left: 56%;
  margin: -35px 0 0 -50px;
  padding: 10px;
  position: absolute;
  top: 50%;
}

body.index #pet-preview.loading {
  height: 0;
  padding: 35px;
  width: 0;
}

body.index #preview-response {
  left: 58%;
  margin-top: -1.5em;
  padding: .5em 1em;
  top: 50%;
}

body.index input[type=text] {
  width: 15em;
}

body.index select {
  width: 7em;
}

body.index .error, body.index .warning {
  left: 1%;
  position: absolute;
  top: 52%;
  width: 30%;
}

body.index .floated-icon {
  float: left;
  margin-right: .3em;
}

/* Wardrobe */

body.wardrobe {
  color: #0B61A4;
}

body.wardrobe div.toolbar h1 {
  font-size: 200%;
  margin-bottom: .5em;
}

body.wardrobe div.toolbar {
  background: #FFF;
  border-color: #66A3D2;
  border-style: solid;
  bottom: 0;
  position: absolute;
}

body.wardrobe div.toolbar-modules {
  height: 100%;
  overflow: auto;
}

body.wardrobe #toolbar-bottom .ui-resizable-n {
  height: 12px;
  top: -10px;
}

body.wardrobe #toolbar-right .ui-resizable-w {
  left: -10px;
  width: 12px;
}

body.wardrobe #toolbar-bottom {
  border-width: 10px 0 0 0;
  padding-bottom: 1em;
  left: 0;
  width: 70%;
  z-index: 101;
}

body.wardrobe #toolbar-right {
  border-width: 0 0 0 10px;
  height: 100%;
  right: 0;
  width: 30%;
  z-index: 102;
}

body.wardrobe #outfit-preview {
  height: 75%;
  left: 0;
  position: absolute;
  top: 0;
  width: 70%;
}

body.wardrobe #outfit-preview object {
  left: 0;
  position: absolute;
  top: 0;
}

body.wardrobe div.module {
  margin: .5em;
  padding: .5em 0;
}

body.wardrobe #toolbar-right div.module {
  border-top: 1px solid #66A3D2;
}

body.wardrobe #toolbar-right div.module:first-child {
  border-top: 0;
}

body.wardrobe #header-module {
  margin: 0 .5em;
  padding: .5em 0 0 0;
  text-align: right;
}

body.wardrobe #closet-module-objects {
  overflow: hidden;
}

body.wardrobe .object {
  display: -moz-inline-stack;
  display: inline-block;
  padding: .5em;
  position: relative;
  text-align: center;
  vertical-align: top;
  width: 100px;
}

body.wardrobe .object img, body.wardrobe .object span {
  opacity: 0.25;
}

body.wardrobe .worn-object img, body.wardrobe .worn-object span {
  opacity: 1;
}

body.wardrobe .unavailable-object {
  background: #FBE3E4;
  color: #8A1F11;
}

body.wardrobe .object-action {
  color: #FFF;
  padding: .25em;
  position: absolute;
}

body.wardrobe .object-action-wear, body.wardrobe .object-action-unwear {
  left: .5em;
  top: .5em;
}

body.wardrobe .object-action-closet, body.wardrobe .object-action-uncloset {
  margin-top: -.5em;
  right: .5em;
  top: 80px;
}

body.wardrobe .object-action-wear, body.wardrobe .object-action-closet {
  background: #E6EFC2;
  color: #264409;
}

body.wardrobe .object-action-unwear, body.wardrobe .object-action-uncloset {
  background: #FBE3E4;
  color: #8A1F11;
}

body.wardrobe #object-description {
  background-color: #FFF;
  background-position: 10px center;
  background-repeat: no-repeat;
  border-color: #000;
  border-style: solid;
  border-width: 1px 0 0 1px;
  display: none;
  padding: 10px 10px 10px 100px;
  position: absolute;
  width: 30em;
  z-index: 100;
}

body.wardrobe #object-description img {
  margin-right: .5em;
}

body.wardrobe #object-description dt {
  clear: left;
  float: left;
  font-weight: bold;
  text-align: right;
  width: 4em;
}

body.wardrobe #object-description dt:after {
  content: ":";
}

body.wardrobe #object-description dd {
  margin: 0 0 0 4.5em;
}

body.wardrobe #object-description .ui-state-error {
  margin-bottom: 1em;
  padding: .25em;
}

body.wardrobe #pet-type-form {
  visibility: hidden;
}

body.wardrobe #search-module h1 {
  float: left;
}

body.wardrobe #search-form {
  float: left;
  margin-left: 2em;
}

body.wardrobe #search-form input {
  background: #FFF;
  border-color: #CCC;
  color: #777;
}

body.wardrobe #search-module-objects, body.wardrobe #search-module-error {
  clear: both;
  float: left;
}

body.wardrobe #search-module-error {
  display: none;
}

/* A font by Jos Buivenga (exljbris) -> www.exljbris.nl */
@font-face {
	font-family: Delicious;
	src: url('/assets/fonts/Delicious-Roman.otf');
}

@font-face {
	font-family: Delicious;
	font-weight: bold;
	src: url('/assets/fonts/Delicious-Bold.otf');
}
