body {
  font-family: sans-serif;
}

form {
  border: 1px solid #ccc;
  padding: 1em;
  width: 50%;
}

form ol.form-fields {
  list-style: none;
  margin: 0;
  padding: 0;
}

label {
  float: left;
  font-weight: bold;
  width: 8em;
}

dt {
  font-weight: bold;
}

.notice {
  color: green;
  font-weight: bold;
}

.error {
  color: red;
  font-weight: bold;
}

.full-error-message {
  color: #ccc;
  font-size: .8em;
}

a img {
  border: 0;
}

#pet-objects img {
  height: 3em;
  margin: 10px 0 -10px -6px;
  width: 3em;
}

.pet-swf-image {
  font-size: 80%;
}

.active-pet-swf-image .pet-swf-image-layers {
  height: 300px;
  margin: 0;
  padding: 0;
  position: relative;
  width: 300px;
}

.pet-swf-image-layers object {
  left: 0;
  position: absolute;
  top: 0;
}

.loading-pet-swf-image {
  outline: 1px solid #ccc;
}

.loading-pet-swf-image object {
  display: none;
}

.swf-image-toggle-bar {
  font-size: 75%;
}

.swf-image-toggle-bar a {
  color: blue;
  margin-left: 1em;
}
